@model HalloDocWebEntity.ViewModel.ViewCaseModel
@{
    Layout = "_ProviderHeader";
    ViewData["Title"] = "View Case Page";
}
<style>
    .iti {
        width: 100%;
    }
    #phone, #phone1 {
        height: 58px;
    }
</style>
<div class="container ">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between mt-3">
                @if(Model.status == 1)
                {
                    <h4 class="mt-3">
                        New Request
                    </h4>
                }
                else
                {
                    <h4 class="mt-3">
                        View Reservation
                    </h4>
                }
                <a class="text-start text-info text-decoration-none " href="javascript:void(0);" onclick="history.go(-1);">
                    <button class="btn btn-white  text-info border-info rounded ">
                        <i class="fa-solid  fa-less-than"></i> Back
                    </button>
                </a>
            </div>
            <form method="post" id="enable">
                <div class="container rounded bg-white shadow py-3">
                    <h5 class="mb-3">Patient Information</h5>
                    <div class="text-muted">Confirmation Number</div>
                    <div class="text-info mb-3">Number545454</div>
                    <div class="row">
                        <div class="form-floating mb-3 text-muted">
                            <textarea class="form-control" id="floatingTextarea2" style="height: 100px" disabled>@Model.Notes</textarea>
                            <label for="floatingTextarea2" class="ps-4">Patient Notes</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input value="@Model.FName" name="first_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Firstname</label>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input value="@Model.LName" name="last_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lastname" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Lastname</label>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for="@Model.DOB" type="date" name="dob" asp-format="{0:yyyy-MM-dd}" class="form-control" id="dob" placeholder="Date Of Birth" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Date Of Birth</label>
                        </div>
                        <div class="col-sm-10 col-md-4 col-xl-5 col-9 form-floating mb-3 text-muted">
                            <input value="@Model.Phonenumber" id="phone" class="form-control inp2" type="tel" placeholder="Phone Number" disabled>
                        </div>
                        <div class=" col-sm-2 col-md-2 col-xl-1 col-1 mb-3 ">
                                <a class="rounded p-2" style="border: solid thin #4dd2ff;" href="tel:@Model.Phonenumber">
                                    <i class="fa-solid fa-phone fa-lg rounded " style="color: #4ddfff; padding-top:20px !important;"></i>
                                </a>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input value="@Model.Email" name="email" type="email" class="form-control" id="email" placeholder="Email" disabled>
                            <label for="email" class="form-label ps-4">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 h5 mb-3">
                            Location Information
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input type="text" value="@Model.RegionName" name="Address-1" class="form-control" id="Address-1" placeholder="Address 1" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Region</label>
                        </div>
                        <div class="col-sm-10 col-md-4 col-xl-5 col-9 form-floating mb-3 text-muted">
                            <input type="text" value="@Model.Address" name="Address-2" class="form-control" id="Address-2" placeholder="Address 2" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Address</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xl-1 col-1 mb-3 ">
                            <a class="btn btn-outline-info"
                               href="https://www.google.com/maps/search/?api=1&query={Uri.EscapeDataString(@Model.Address).ToString()}" ;" target="_blank">
                                <i class="fa fa-location-arrow "></i>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                            <input type="text" name="city" class="form-control" id="city" placeholder="City" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Room #</label>
                        </div>
                    </div>
                    <div class="text-end pb-3 justify-content-end">
                        <a  asp-action="ViewNotes" asp-controller="Provider" asp-route-id="@Model.requestId"><button class="btn btn-info text-white" type="button">View Notes</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById("dashbrd").classList.add("active");
    const input = document.querySelector("#phone");
    window.intlTelInput(input, {
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@21.2.7/build/js/utils.js",
    });
</script>
