
@model HalloDocWebEntity.ViewModel.Notes

@{
    Layout = "_ProviderHeader";
    ViewData["Title"] = "View Notes Page";
}
<style>
    .iti {
        width: 100%;
    }

    #phone, #phone1 {
        height: 58px;
    }
</style>
<script>
    document.getElementById("dashbrd").classList.add("active");
</script>
<div class="container ">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between mt-3">
                <h4 class="mt-3">Notes</h4>
               
                <a class="text-start text-info text-decoration-none " asp-action="ProviderDashboard">

                    <button class="btn btn-white  text-info border-info rounded ">
                        <i class="fa-solid  fa-less-than"></i> Back
                    </button>
                </a>
            </div>
            <form method="post" asp-action="SaveNote" asp-controller="Provider" asp-route-id="@Model.req_id">
                <div class="container rounded py-3">
                    <div class="row ">
                        <div class="col-md-12 col-sm-12 col-lg-6 mb-3">
                            <div class="bg-white rounded-4 p-3 h-100">
                                <i class="fa-solid fa-right-left"></i> <span class="h4"> Transfer Notes</span>
                                @if(1==1){
                                    var i = 1;
                                    @foreach (var item in Model.transfreNotes)
                                    {
                                        <small><P class="mt-2 mb-0 ms-4 pe-3">@i. @item</P></small>
                                        i++;
                                    }
                                }
                                
                                
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-6 mb-3">
                            <div class="bg-white rounded-4 p-3 h-100">
                                <i class="fa-solid fa-user-doctor fa-xl" style="color: #000000;"></i> <span class="h4">Physician Notes</span>
                                <p class="mt-2 mb-0 ms-4 pe-3">@Model.PhyNotes</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 col-sm-12 col-lg-6">
                            <div class="bg-white rounded-4 p-3">
                                <i class="fa-solid fa-user-tie fa-xl"></i> <span class="h4">Admin Notes</span>
                                <p class="mt-2 mb-0 ms-4 pe-3">@Model.AdminNote</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="form-floating bg-white rounded-4 p-3">
                                <textarea class="form-control" id="floatingTextarea2" name="PhyNotes" style="height: 100px"></textarea>
                                <label for="floatingTextarea2" class="px-4 py-4">Physician Notes</label>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-info text-white" type="submit">Save Changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>