@model Assignment_WebEntity.ViewModal.TableDataViewModel

<table class="table ">
    <thead>
        <tr class="bg-light text-muted h-100">

            <th scope="col">Book ID</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Borrower Name</th>
            <th scope="col">Date Of Issue</th>
            <th scope="col">City</th>
            <th scope="col">Genere</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var data in Model.bookList)
        {
            <tr>

                <td>@data.Id</td>

                <td> @data.Bookname</td>
                <td> @data.Author </td>
                <td> @data.Borrowername </td>
                <td> @data.DateOfIssue </td>
                <td>@data.City</td>
                <td>@data.GenereNavigation.Generename</td>
                <td>
                    <button style="background-color:#326C9B;" class="btn text-white" onclick="openModal(@data.Id)">Edit</button>
                    <button class="btn btn-dark text-white " onclick="deleteRecord(@data.Id)">Delete</button>
                </td>

            </tr>

        }

    </tbody>


</table>


<div class="d-flex justify-content-between " aria-label="Page navigation">
    <div class=" mt-4">@Model.FromRec - @Model.ToRec of @Model.TotalRecord</div>
    <div class="d-flex">
        <div class="d-flex">
            <p class="" style="width:250px;">Items per page:</p>
            <select class="form-select p-0 " style="height:50px;" id="rangeSelect" onchange="rangeChange()" asp-for=pagesize>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
            </select>
        </div>

        <ul class="pagination justify-content-center mt-3">
            @if (Model.TotalPages >= 1)
            {
                <!-- Previous page -->
                <li class="page-item @(Model.PreviousPage ? " " : "disabled")">
                    <a class="page-link" href="javascript:void(0)" onclick="GetTableData(@Model.CurrentPage-1,$('#rangeSelect').val())" aria-label="Previous">
                        <span aria-hidden="true"><i class="bi bi-caret-left-fill text-info"></i> </span>
                    </a>
                </li>

                <!-- Page numbers -->
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.CurrentPage == i ? "active" : " ")">
                        <a class="page-link" id="plink-@i" href="javascript:void(0)" onclick="GetTableData(@i,$('#rangeSelect').val())">@i</a>
                    </li>
                }

                <!-- Next page -->
                <li class="page-item @(Model.NextPage ? " " : "disabled")">
                    <a class="page-link" href="javascript:void(0)" onclick="GetTableData(@Model.CurrentPage+1,$('#rangeSelect').val())" aria-label="Next">
                        <span aria-hidden="true"> <i class="bi bi-caret-right-fill text-info"></i> </span>
                    </a>
                </li>
            }
        </ul>
    </div>

</div>


