@model Assignment_WebEntity.ViewModal.TableDataViewModel
@{
    ViewData["Title"] = "LMS";
}
<div id="modaldiv">

</div>


<div class="container my-5">
    <div class="row justify-content-between mb-3">
        <div class="col-6">
            <input type="text" class="form-control p-2" id="serachBook" placeholder="Search">
        </div>
        <div class="col-6 text-end">
            <button style="background-color:#326C9B;" class="btn text-white p-2" onclick="openModal()">ADD BOOK</button>
        </div>
    </div>
    <div class="row">
        <div id="tableContent">
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        GetTableData();
    });
    $("#serachBook").change(function (e) {
     
        var searchstr = document.getElementById("serachBook").value
        MyAJax(searchstr, @Model.pagesize, @Model.CurrentPage);
    })
    function openModal(bookId) {

        $.ajax({
            url: "/Home/_BookFormModal",
            data: { bookId: bookId },
            type: "GET",
            dataType: "html",
            success: function (data) {

                $("#modaldiv").html(data);

            },
            error: function () {
                alert("No Projects Found");

            }
        });
    };
    function MyAJax(searchstr, pagesize, pagenumber){
        $.ajax({
            url: "/Home/_LibraryRecordTable",
            type: "GET",
            data: { bookname: searchstr, pagesize: pagesize, pagenumber: pagenumber },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function () {
                alert("No Projects Found");
                $("#tableContent").html('An error has occurred');
            }
        });
    }
    function GetTableData(pagenumber, pagesize) {
        if (pagenumber == 0) {
            pagenumber = @Model.CurrentPage;
        }
        if (pagesize == 0) {
            pagesize = @Model.pagesize;
        }
        var searchstr = document.getElementById("serachBook").value

        MyAJax(searchstr, pagenumber, pagenumber);
       
    };
    function deleteRecord(id) {

        $.ajax({
            url: "/Home/_DeleteConfirmModal",
            data: { 'id': id},
            type: "GET",
            dataType: "html",
            success: function (data) {

                $("#modaldiv").html(data);

            },
            error: function () {
                alert("No Projects Found");

            }
        });
    };
    function rangeChange() {
      
        var pagesize = $('#rangeSelect').val()
    
        var searchstr = document.getElementById("serachBook").value
        MyAJax(searchstr, pagesize, @Model.CurrentPage);
    }
  
</script>
