@model HalloDocWebEntity.ViewModel.AdminRecordsModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    ViewBag.tab = "partners";
}

<table class="table table-responsive">
    <thead>
        <tr class="bg-light text-muted h-100">

            <th scope="col">No.</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Created Date</th>
            <th scope="col">Notes</th>
            <th scope="col">IsActive</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @{
            var no = 1;
        }
        @foreach (var data in Model.blockRequests)
        {
            <tr>

                <td>@no</td>

                <td> @data.Request.Requestclients.First().Firstname @data.Request.Requestclients.First().Lastname  </td>
                <td> @data.Phonenumber </td>
                <td> @data.Email </td>
                <td> @data.Request.Createddate </td>
                <td>@data.Reason</td>
                <td><input type="checkbox" asp-for=@data.Isactive[0]/></td>
                <td>
                   <button class="btn btn-outline-info" onclick="unblock(this)" value="@data.Blockrequestid">Unblock</button>
                </td>

            </tr>
            no++;
        }

    </tbody>


</table>
<div id="modalpopup">

</div>

<script>
    var vendorid;
    function DeleteVendor(element) {
        debugger;
        vendorid = element.value;
        var myModal = new bootstrap.Modal(document.getElementById('DeleteVendor'));
        myModal.show();

    };
    $("#cancelbtn").click(function () {
        $("#modalpopup").remove();
        $(".modal-backdrop").remove()
        location.reload();
    });
    function unblock(element) {

        var id = element.value;
        console.log(id);
        $.ajax({
            url: "/Admin/ShowDeleteModal",
            data: { 'id': id, 'acntType': "Unblock" },
            type: "GET",
            dataType: "html",
            success: function (data) {

                $("#modalpopup").html(data);

            },
            error: function () {
                alert("No Projects Found");

            }
        });
    };

   
</script>


