@model HalloDocWebEntity.ViewModel.ShiftDetailsModel
<div class="table-responsive d-lg-block d-none">
    <table class="table">
        <thead class="bg-body-tertiary">
        <thead>
            <tr>
                <th scope="col">
                    <input type="checkbox" id="mainCheckbox" style="width:20px;height:20px" onclick="selectAllCheckboxes()" />
                </th>
                <th>
                    Staff
                </th>
                <th>Day</th>
                <th>Time</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var details in Model.shiftdetail)
                {
                <input type="hidden" id="countcheckbox" value="@Model.shiftdetail.Count" />
                <tr class="align-middle">
                    <td>
                        <input type="checkbox" class="Subcheckbox" style="width:20px;height:20px" onclick="checkAllCheckboxes()" value="@details.Shiftdetailid">
                    </td>
                    <td>
                            @details.Shift.Physician.Firstname @details.Shift.Physician.Lastname
                    </td>
                    <td>
                            @details.Shiftdate.ToString("MMM dd,yyyy")
                    </td>
                    <td>
                            @details.Starttime - @details.Endtime
                    </td>
                    <td>@details.Shift.Physician.Region.Name</td>
                </tr>
                }
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-between " aria-label="Page navigation">
    <div class=" mt-4">@Model.FromRec - @Model.ToRec of @Model.TotalRecord</div>
    <ul class="pagination justify-content-center mt-3">
        @if (Model.TotalPages >= 1)
        {
            <!-- Previous page -->
            <li class="page-item border-0 @(Model.PreviousPage ? " " : "disabled")">
                <a class="page-link" href="javascript:void(0)" onclick="ShiftReview(@Model.CurrentPage-1)" aria-label="Previous">
                    <span aria-hidden="true"><i class="bi bi-caret-left-fill text-info"></i> </span>
                </a>
            </li>
            <!-- Page numbers -->
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : " ")">
                    <a class="page-link" id="plink-@i" href="javascript:void(0)" onclick="ShiftReview(@i)">@i</a>
                </li>
            }
            <!-- Next page -->
            <li class="page-item @(Model.NextPage ? " " : "disabled")">
                <a class="page-link" href="javascript:void(0)" onclick="ShiftReview(@Model.CurrentPage+1)" aria-label="Next">
                    <span aria-hidden="true"> <i class="bi bi-caret-right-fill text-info"></i> </span>
                </a>
            </li>
        }
    </ul>
</div>
