@model HalloDocWebEntity.ViewModel.AdminProfile
@{
    Layout = "_AdminHeader";
}

<style>
    .iti {
        width: 100%;
    }

    #phone, #phone1 {
        height: 58px;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between mt-3">
                @if (Model.isAdminProfile)
                {
                    <h4 class="mt-3">My Profile</h4>
                    <script>
                        document.getElementById("myProfile").classList.add("active");
                    </script>

                }
                else
                {
                    <span></span>
                    <a class="text-start text-info text-decoration-none " href="javascript:void(0);" onclick="history.go(-1);">
                        <button class="btn btn-white  text-info border-info rounded ">
                            <i class="fa-solid  fa-less-than"></i> Back
                        </button>
                    </a>
                    <script>
                        document.getElementById("access1").classList.add("active");
                    </script>
                }

            </div>

            <div class="container rounded bg-white shadow py-3">
                <form asp-action="UpdateAdminPassword" asp-controller="Admin" id="" method="post">
                    <input type="hidden" asp-for="adminuser.Id" />
                    <h5 class="mb-3">Account Information</h5>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input value="@Model.adminuser.Usarname" name="first_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">User Name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input name="Passwordhash" name="last_name" type="text" class="form-control"  id="password" placeholder="Lastname" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Password </label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6">
                            <div class="mb-3 border border-light rounded-5">
                                <select class="form-select p-3 pla1" asp-for=admin.Status aria-label="form-select-lg example" disabled>

                                    <option value="1">Pending</option>
                                    <option value="2">Active</option>
                                    <option value="3">InActive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6">
                            <div class="mb-3 border border-light rounded-5">
                                <select class="form-select text-muted p-3 pla1" asp-for=admin.Roleid aria-label=" form-select-lg example" disabled>

                                    @foreach (var item in Model.roles)
                                    {
                                        <option value="@item.Roleid">
                                            @item.Name
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-end pb-3">
                        <button class="btn btn-outline-info" type="button" onclick="enablePwd()" id="resetbtn">Reset password</button>
                        <button class="btn btn-outline-info" type="button" onclick="disablePwd()" style="display :none;" id="cancelbtn">Cancel</button>
                        <button class="btn btn-info text-white  " type="submit" id="savebtn" style="display :none;">Save</button>
                    </div>
                </form>
                <form asp-action="UpdateAdminProfile" id="enable" asp-controller="Admin">
                    <input type="hidden" asp-for=admin.Adminid value="@Model.admin.Adminid" />
                    <div class="row">
                        <div class="col-12 h5 mb-3">
                            Administrator Information
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=admin.Firstname value="@Model.admin.Firstname" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Firstname</label>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=admin.Lastname value="@Model.admin.Lastname" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lastname" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Lastname</label>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=admin.Email value="@Model.admin.Email" type="email" class="form-control" id="email" placeholder="Email" disabled>
                            <label for="email" class="form-label ps-4">Email</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=admin.Email value="@Model.admin.Email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Confirm Email" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Confirm Email</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=admin.Mobile value="@Model.admin.Mobile" id="phone" class="form-control inp2" type="tel" placeholder="Phone Number" disabled>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 mb-3 text-muted">
                            @if (Model.regions != null)
                            {
                                @foreach (var item in Model.regions)
                                {
                                    @if (Model.adminregion.Any(x => x.Regionid == item.Regionid))
                                    {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input checkboxes" type="checkbox" name="SelectedReg" value="@item.Regionid" checked disabled>
                                            <span class="form-check-label text6" for="inlineCheckbox1">@item.Name</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input checkboxes" type="checkbox" name="SelectedReg" value="@item.Regionid" disabled>
                                            <span class="form-check-label text6" for="inlineCheckbox1">@item.Name</span>
                                        </div>
                                    }
                                }
                            }
                        </div>

                        <div class="text-end pb-3">
                            <button class="btn btn-info text-white" id="edit" onclick="EditData()" type="button">Edit</button>
                            <button class="btn btn-info text-white" id="save" type="submit" style="display:none;">Save</button>

                            <button class="btn btn-white text-info border-info" onclick="disableData1()" id="cancel" type="button" style="display:none;">Cancel</button>
                        </div>
                </form>
                <form asp-action="UpdateAddressInformationOfAdmin" asp-controller="Admin" id="enable1">
                    <input type="hidden" asp-for=admin.Adminid value="@Model.admin.Adminid" />
                    <div class="row">
                        <div class="col-12 h5 mb-3">
                            Mailing & Billing Information
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=admin.Address1 value="@Model.admin.Address1" type="text" class="form-control" id="Address-1" placeholder="Address 1" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Address 1</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for="admin.Address2" value="@Model.admin.Address2" type="text" class="form-control" id="Address-2" placeholder="Address 2" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Address 2</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                            <input asp-for=admin.City value="@Model.admin.City" type="text" class="form-control" id="city" placeholder="City" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">City</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                            <select class="form-select p-3 pla1" id="SearchByRegion" disabled>
                                @foreach (var i in Model.regions)
                                {
                                    <option value="@i.Regionid">@i.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                            <input asp-for=admin.Zip value="@Model.admin.Zip" type="text" class="form-control" id="zipcode" placeholder="Zip Code" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Zip Code</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=admin.Altphone value="@Model.admin.Altphone" id="phone1" class="form-control inp2" type="tel" placeholder="Phone Number" disabled>
                        </div>
                    </div>
                    <div class="text-end pb-3">
                        <button class="btn btn-info text-white" id="edit1" onclick="EditData1()" type="button">Edit</button>
                        <button class="btn btn-info text-white" id="save1" type="submit" style="display:none;">Save</button>
                        <button class="btn btn-white text-info border-info" onclick="disableData()" id="cancel1" type="button" style="display:none;">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function disableData() {
        document.getElementById("save1").style.display = "none";
        document.getElementById("cancel1").style.display = "none";
        document.getElementById("edit1").style.display = "inline";
        var formelements = document.getElementById("enable1").elements;
        for (var i = 0; i < formelements.length; i++) {
            if (i == 7)
                continue;
            formelements[i].disabled = true;
        }
    }
    function disableData1() {
        document.getElementById("save").style.display = "none";
        document.getElementById("cancel").style.display = "none";
        document.getElementById("edit").style.display = "inline";
        var formelements = document.getElementById("enable").elements;
        for (var i = 0; i < formelements.length; i++) {
            if (i == 10)
                continue;
            formelements[i].disabled = true;
        }
    }
    function EditData() {
        document.getElementById("save").style.display = "inline";
        document.getElementById("cancel").style.display = "inline";
        document.getElementById("edit").style.display = "none";
        var formelements = document.getElementById("enable").elements;
        for (var i = 0; i < formelements.length; i++) {
            formelements[i].disabled = false;
        }
    }
    function EditData1() {
        document.getElementById("save1").style.display = "inline";
        document.getElementById("cancel1").style.display = "inline";
        document.getElementById("edit1").style.display = "none";
        var formelements = document.getElementById("enable1").elements;
        for (var i = 0; i < formelements.length; i++) {
            formelements[i].disabled = false;
        }
    }
    function disablePwd() {
        document.getElementById("resetbtn").style.display = "inline";
        document.getElementById("cancelbtn").style.display = "none";
        document.getElementById("savebtn").style.display = "none";
        document.getElementById("password").disabled = true;
    }
    function enablePwd() {
        document.getElementById("password").disabled = false;
        document.getElementById("savebtn").style.display = "inline";
        document.getElementById("cancelbtn").style.display = "inline";
        document.getElementById("resetbtn").style.display = "none";
    }
    // document.getElementById("save").style.display = "inline";
    // document.getElementById("cancel").style.display = "inline";
    // document.getElementById("edit").style.display = "none";
    const input = document.querySelector("#phone");
    const input2 = document.querySelector("#phone1");
    const button = document.querySelector("#btn");
    const errorMsg = document.querySelector("#error-msg");
    const validMsg = document.querySelector("#valid-msg");

    // here, the index maps to the error code returned from getValidationError - see readme
    const errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

    // initialise plugin
    const iti = window.intlTelInput(input, {
        initialCountry: "us",
        utilsScript: "/intl-tel-input/js/utils.js?1706723638591"
    });
    const iti1 = window.intlTelInput(input2, {
        initialCountry: "us",
        utilsScript: "/intl-tel-input/js/utils.js?1706723638591"
    });
</script>
