@model HalloDocWebEntity.ViewModel.AdminProfile
@{
    Layout = "_AdminHeader";
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<style>
    .iti {
        width: 100%;
    }

    #phone, #phone1 {
        height: 58px;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between mt-3">
                @if (Model.isAdminProfile)
                {
                    <h4 class="mt-3">My Profile</h4>
                    <script>
                        document.getElementById("myProfile").classList.add("active");
                    </script>

                }
                else
                {
                    <span></span>
                    <a class="text-start text-info text-decoration-none " href="javascript:void(0);" onclick="history.go(-1);">
                        <button class="btn btn-white  text-info border-info rounded ">
                            <i class="fa-solid  fa-less-than"></i> Back
                        </button>
                    </a>
                    <script>
                        document.getElementById("access1").classList.add("active");
                    </script>
                }

            </div>

            <div class="container rounded bg-white shadow py-3">
                <form asp-action="UpdateAdminPassword" asp-controller="Admin" id="" method="post">
                    <input type="hidden" asp-for="adminuser.Id" />
                    <h5 class="mb-3">Account Information</h5>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input value="@Model.adminuser.Usarname" name="first_name" type="text" class="form-control" id="exampleFormControlInput1" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">User Name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input name="profile_Password" type="text" class="form-control " id="password" onchange="checkPWD(this)" disabled required>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Password </label>
                            <span asp-validation-for="profile_Password" id="pwdError" class="text-danger"></span>

                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6">
                            <div class="mb-3 border border-light rounded-5">
                                <select class="form-select p-3 pla1" asp-for=admin.Status aria-label="form-select-lg example" disabled>

                                    <option value="1">Pending</option>
                                    <option value="2">Active</option>
                                    <option value="3">InActive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6">
                            <div class="mb-3 border border-light rounded-5">
                                <select class="form-select text-muted p-3 pla1" asp-for=admin.Roleid aria-label=" form-select-lg example" disabled>

                                    @foreach (var item in Model.roles)
                                    {
                                        <option value="@item.Roleid">
                                            @item.Name
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-end pb-3">
                        <button class="btn btn-outline-info" type="button" onclick="enablePwd()" id="resetbtn">Reset password</button>
                        <button class="btn btn-outline-info" type="button" onclick="disablePwd()" style="display :none;" id="cancelbtn">Cancel</button>
                        <button class="btn btn-info text-white  " type="submit" id="savebtn" style="display :none;">Save</button>
                    </div>
                </form>
                <form asp-action="UpdateAdminProfile" id="enable" asp-controller="Admin">
                    <input type="hidden" asp-for=admin.Adminid value="@Model.admin.Adminid" />
                    <div class="row">
                        <div class="col-12 h5 mb-3">
                            Administrator Information
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Firstname type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Firstname</label>
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Lastname value="@Model.admin.Lastname" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lastname" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Lastname</label>
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Email value="@Model.admin.Email" type="email" class="form-control" id="email" placeholder="Email" disabled>
                            <label for="email" class="form-label ps-4">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input name=con_Email value="@Model.admin.Email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Confirm Email" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Confirm Email</label>
                            <span asp-validation-for="con_Email" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Mobile value="@Model.admin.Mobile" id="phone" class="form-control inp2" type="tel" placeholder="Phone Number" disabled>
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 mb-3 text-muted">
                            @if (Model.regions != null)
                            {
                                @foreach (var item in Model.regions)
                                {
                                    @if (Model.adminregion.Any(x => x.Regionid == item.Regionid))
                                    {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input checkboxes" type="checkbox" name="SelectedReg" value="@item.Regionid" checked disabled>
                                            <span class="form-check-label text6" for="inlineCheckbox1">@item.Name</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input checkboxes" type="checkbox" name="SelectedReg" value="@item.Regionid" disabled>
                                            <span class="form-check-label text6" for="inlineCheckbox1">@item.Name</span>
                                        </div>
                                    }
                                }
                            }
                        </div>

                        <div class="text-end pb-3">
                            <button class="btn btn-info text-white" id="edit" onclick="EditData()" type="button">Edit</button>
                            <button class="btn btn-info text-white" id="save" type="submit" style="display:none;">Save</button>

                            <button class="btn btn-white text-info border-info" onclick="disableData1()" id="cancel" type="button" style="display:none;">Cancel</button>
                        </div>
                </form>
                <form asp-action="UpdateAddressInformationOfAdmin" asp-controller="Admin" id="enable1">
                    <input type="hidden" asp-for=admin.Adminid value="@Model.admin.Adminid" />
                    <div class="row">
                        <div class="col-12 h5 mb-3">
                            Mailing & Billing Information
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Address1 value="@Model.admin.Address1" type="text" class="form-control" id="Address-1" placeholder="Address 1" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Address 1</label>
                            <span asp-validation-for=" Address1" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for="Address2" value="@Model.admin.Address2" type="text" class="form-control" id="Address-2" placeholder="Address 2" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Address 2</label>
                            <span asp-validation-for=" Address2" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                            <input asp-for=City value="@Model.admin.City" type="text" class="form-control" id="city" placeholder="City" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">City</label>
                            <span asp-validation-for=" City" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                            <select class="form-select p-3 pla1" asp-for=regionid id="SearchByRegion" disabled>
                                <option value="0">Select state</option>
                                @foreach (var i in Model.regions)
                                {
                                    <option value="@i.Regionid">@i.Name</option>
                                }
                            </select>
                            <span asp-validation-for="regionid" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                            <input asp-for=Zip value="@Model.admin.Zip" type="text" class="form-control" id="zipcode" placeholder="Zip Code" disabled>
                            <label for="exampleFormControlInput1" class="form-label ps-4">Zip Code</label>
                            <span asp-validation-for=" Zip" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Altphone value="@Model.admin.Altphone" id="phone1" class="form-control inp2" type="tel" placeholder="Phone Number" disabled>
                            <span asp-validation-for=" Altphone" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="text-end pb-3">
                        <button class="btn btn-info text-white" id="edit1" onclick="EditData1()" type="button">Edit</button>
                        <button class="btn btn-info text-white" id="save1" type="submit" style="display:none;">Save</button>
                        <button class="btn btn-white text-info border-info" onclick="disableData()" id="cancel1" type="button" style="display:none;">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function disableData() {
        document.getElementById("save1").style.display = "none";
        document.getElementById("cancel1").style.display = "none";
        document.getElementById("edit1").style.display = "inline";
        var formelements = document.getElementById("enable1").elements;
        for (var i = 0; i < formelements.length; i++) {
            if (i == 7)
                continue;
            formelements[i].disabled = true;
        }
    }
    function disableData1() {
        document.getElementById("save").style.display = "none";
        document.getElementById("cancel").style.display = "none";
        document.getElementById("edit").style.display = "inline";
        var formelements = document.getElementById("enable").elements;
        for (var i = 0; i < formelements.length; i++) {
            if (i == 10)
                continue;
            formelements[i].disabled = true;
        }
    }
    function EditData() {
        document.getElementById("save").style.display = "inline";
        document.getElementById("cancel").style.display = "inline";
        document.getElementById("edit").style.display = "none";
        var formelements = document.getElementById("enable").elements;
        for (var i = 0; i < formelements.length; i++) {
            formelements[i].disabled = false;
        }
    }
    function EditData1() {
        document.getElementById("save1").style.display = "inline";
        document.getElementById("cancel1").style.display = "inline";
        document.getElementById("edit1").style.display = "none";
        var formelements = document.getElementById("enable1").elements;
        for (var i = 0; i < formelements.length; i++) {
            formelements[i].disabled = false;
        }
    }
    function disablePwd() {
        document.getElementById("resetbtn").style.display = "inline";
        document.getElementById("cancelbtn").style.display = "none";
        document.getElementById("savebtn").style.display = "none";
        document.getElementById("password").disabled = true;
    }
    function enablePwd() {
        document.getElementById("password").disabled = false;
        document.getElementById("savebtn").style.display = "inline";
        document.getElementById("cancelbtn").style.display = "inline";
        document.getElementById("resetbtn").style.display = "none";
    }

    const input = document.querySelector("#phone");
    const input2 = document.querySelector("#phone1");
   

    // initialise plugin
    window.intlTelInput(input, {
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@21.2.7/build/js/utils.js",
    });
    window.intlTelInput(input2, {
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@21.2.7/build/js/utils.js",
    });
</script>
<script>
    function checkPWD() {
    
        var password = document.getElementById("password").value;
      
        let pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[@@$!%*?&])(?=.*\d).{8,}$/
      
        if (!pattern.test(password)) {
            document.getElementById("pwdError").innerHTML = "Password must contain One uppercase ,lowercase letter ,one digit and special character..";
        }
       else if(password == ""){
            document.getElementById("pwdError").innerHTML = "";
        }
        else{
            document.getElementById("pwdError").innerHTML = "";
        }
    }
 

</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}