@model HalloDocWebEntity.ViewModel.AdminViewUpload
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    Layout = "_AdminHeader";
}
<!--  -->
<script>
    document.getElementById("dashbrd").classList.add("active");
    function oncheck() {
        var check = document.getElementById('checkall').checked;
        if (check) {
            var len = document.getElementsByClassName('checkboxes');
            for (var i = 0; i < len.length; i++) {
                len[i].checked = true;
            }
        } else {
            var len = document.getElementsByClassName('checkboxes');
            for (var i = 0; i < len.length; i++) {
                len[i].checked = false;
            }
        }
        console.log(check);
    }
    function deleteFile() {
        var checkboxes = document.querySelectorAll('.Subcheckbox:checked');
        var filenames = [];
        checkboxes.forEach(function (checkbox) {
            filenames.push(checkbox.getAttribute('data-filename'));
        });
        if (filenames.length > 0) {
            $.ajax({
                url: "/Admin/DeleteAll",
                data: { 'id': @Model.confirmationDetail.Requestid, 'filenames': filenames },
                type: "POST",
                dataType: "html",
                success: function (data) {
                    window.location.reload();
                },
                error: function () {
                    alert("No Projects Found");
                    //$("#tableContent").html('An error has occurred');
                }
            });
        } else {
            alert('Please select one or more files to download.');
        }
    }
    function viewDoc(e){
        window.open("/UploadedFiles/"+filename);
    }
    function sendMail() {
        var checkboxes = document.querySelectorAll('.Subcheckbox:checked');
        var filenames = [];
        checkboxes.forEach(function (checkbox) {
            filenames.push(checkbox.getAttribute('data-filename'));
        });
        if (filenames.length > 0) {
            $.ajax({
                url: "/Admin/SendMail",
                data: { 'id': @Model.confirmationDetail.Requestid, 'filenames': filenames },
                type: "POST",
                dataType: "html",
                success: function (data) {
                    window.location.reload();
                },
                error: function () {
                    alert("No Projects Found");
                    //$("#tableContent").html('An error has occurred');
                }
            });
        } else {
            alert('Please select one or more files to download.');
        }
    }
    function downloadFile() {
        var checkboxes = document.querySelectorAll('.Subcheckbox:checked');
        var filenames = [];
        checkboxes.forEach(function (checkbox) {
            filenames.push(checkbox.getAttribute('data-filename'));
        });
        if (filenames.length > 0) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Admin/DownloadFiles/@Model.confirmationDetail.Requestid', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.responseType = 'blob';
            xhr.onload = function () {
                if (this.status === 200) {
                    var blob = new Blob([this.response], { type: 'application/octet-stream' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'selected_files.zip';
                    link.click();
                }
            };
            xhr.send(JSON.stringify(filenames));
        } else {
            alert('Please select one or more files to download.');
        }
    }
    function changeTheme() {
        if ($('#light-theme').css('display') == 'none') {
            document.querySelector(".login-bg").style.display = "block";
            document.querySelector(".login-bg-dark").style.display = "none";
        }
        else {
            document.querySelector(".login-bg").style.display = "none";
            document.querySelector(".login-bg-dark").style.display = "block";
        }
    }
    function showSidebar() {
        document.querySelector(".sideBar").style.display = "flex";
    }
    function hideSidebar() {
        document.querySelector(".sideBar").style.display = "none";
    }
    function showHidePassword() {
        let temp = document.getElementById("inputPassword");
        if (temp.type === "password") {
            temp.type = "text";
        }
        else {
            temp.type = "password";
        }
    }
</script>
<div class="container justify-content-center ">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <h4 class="mt-3">Documents</h4>
                <a class="text-start text-info text-decoration-none " href="javascript:void(0);" onclick="history.go(-1);">
                    <button class="btn btn-white  text-info border-info rounded ">
                        <i class="fa-solid  fa-less-than"></i> Back
                    </button>
                </a>
            </div>
            <div class="container  rounded bg-white shadow py-3">
                <h6 class="text-muted">Patient Name</h6>
                <h4 style="color:#54d4d3;">@Model.patientData.Firstname @Model.patientData.Lastname</h4> (@Model.confirmationDetail.Confirmationnumber)
                <h6 class="text-muted">Check here for any files that you or the doctors of your subsequents requestors have attached for you to review.</h6>
                <div class="row">
                    <div class="row">
                        <div class="col">
                            <form method="post" asp-action="UploadFileAdmin" asp-controller="Admin" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <div class="col">
                                        <p>
                                            <button style="position:absolute;left:0; height:46px; width:110px" class="btn btn-info text-light text-start">
                                                <i class="fa-solid fa-cloud-arrow-up"
                                                   style="color: #ffffff; border-radius: 0px 5px 5px 0px; "></i><span class=" ms-2 ">Upload</span>
                                            </button>
                                            <input type="File" class="form-control input-placeholder " name="fileToUpload" id="fileToUpload"
                                                   placeholder="Select File">
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4 class="mt-3">Documents</h4>
                        <div class="text-end hideOnMobile">
                            <a onclick="downloadFile()"><button class="theme-btn-header px-1 mt-3 mb-3 " style="height: 40px; width : 150px; color: #54B4D3;">Download All</button></a>
                            <a onclick="deleteFile()"><button class="theme-btn-header px-1 mt-3 mb-3 " style="height: 40px; width : 150px; color: #54B4D3;">Delete All</button></a>
                            <a onclick="sendMail()"><button class="theme-btn-header px-1 mt-3 mb-3 " style="height: 40px; width : 150px; color: #54B4D3;">Send Mail</button></a>
                        </div>
                        <div class="text-end showOnMobile hide">
                            <a onclick="downloadFile()"><button class="theme-btn-header px-1 "><i class="fa-solid fa-cloud-arrow-down" style="color: #54B4D3;"></i></button></a>
                            <a onclick="deleteFile()"> <button class="theme-btn-header px-1 "><i class="fa-solid fa-trash" style="color: #54B4D3;"></i></button></a>
                            <a onclick="sendMail()"><button class="theme-btn-header px-1 "><i class="fa-regular fa-envelope" style="color: #54B4D3;"></i></button></a>
                        </div>
                    </div>
                    <table class="table hideOnMobile ">
                        <thead class="bg-light justify-content-center ">
                            <tr>
                                <th>
                                    <input type="checkbox" id="checkall" onclick="oncheck()" class="ms-3" />
                                </th>
                                <th>
                                    Document
                                </th>
                                <th>
                                    Upload Date
                                </th>
                                <th class="text-center"> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FileList)
                            {
                                <tr>
                                    <td><input type="checkbox" class="Subcheckbox checkboxes ms-3" data-filename="@item.Filename" /></td>
                                    <td>
                                        @switch (@ViewBag.fileExtensions[item.Requestwisefileid])
                                        {
                                            case ".docx":
                                            case ".doc":
                                                <i class="fa-solid fa-file-word" style="color: #0f5fff;"> </i>
                                                break;
                                            case ".xlsx":
                                            case ".xls":
                                                <i class="fa-solid fa-file-excel" style="color: #4ac926;"> </i>
                                                break;
                                            case ".jpg":
                                            case ".jpeg":
                                            case ".png":
                                                <i class="fa-regular fa-image" style="color: #74C0FC;"> </i>
                                                break;
                                            case ".pdf":
                                                <i class="fa-solid fa-file-pdf" style="color: #ff0000;"> </i>
                                                break;
                                            default:
                                                <i class="bi bi-file-earmark-text-fill"> </i>
                                                break;
                                        }
                                        @*<i class="fa-solid fa-file-pdf" style="color: #ff0000;"></i>*@
                                        @Html.DisplayFor(modelItem => item.Filename)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Createddate)
                                    </td>
                                    <td class="text-center">
                                        <a class="text-decoration-none" asp-action="DeleteFile" asp-controller="Admin" asp-route-id="@item.Requestwisefileid">
                                            <button class="theme-btn-header px-1 "><i class="fa-solid fa-trash" style="color: #54B4D3;"></i></button>
                                        </a>
                                        <a asp-action="DownloadFile" asp-controller="Admin" asp-route-id="@item.Requestwisefileid"><button class="theme-btn-header px-1 "><i class="fa-solid fa-cloud-arrow-down" style="color: #54B4D3;"></i></button></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table class="table  showOnMobile hide">
                        <tbody>
                            @foreach (var item in Model.FileList)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <div class="d-flex mb-3">
                                                <input type="checkbox" class="Subcheckbox checkboxes me-3" data-filename="@item.Filename" />
                                                @switch (@ViewBag.fileExtensions[item.Requestwisefileid])
                                                {
                                                    case ".docx":
                                                    case ".doc":
                                                        <i class="fa-solid fa-file-word" style="color: #0f5fff;"> </i>
                                                        break;
                                                    case ".xlsx":
                                                    case ".xls":
                                                        <i class="fa-solid fa-file-excel" style="color: #4ac926;"> </i>
                                                        break;
                                                    case ".jpg":
                                                    case ".jpeg":
                                                    case ".png":
                                                        <i class="fa-regular fa-image" style="color: #74C0FC;"> </i>
                                                        break;
                                                    case ".pdf":
                                                        <i class="fa-solid fa-file-pdf" style="color: #ff0000;"> </i>
                                                        break;
                                                    default:
                                                        <i class="bi bi-file-earmark-text-fill"> </i>
                                                        break;
                                                }
                                                @*<i class="fa-solid fa-file-pdf" style="color: #ff0000;"></i>*@
                                                <small class="ms-2 me-2 text-muted">@Html.DisplayFor(modelItem => item.Filename)</small>
                                            </div>
                                            <small class="text-muted mb-2"> @Html.DisplayFor(modelItem => item.Createddate)</small>
                                            <div>
                                                <a class="text-decoration-none" asp-action="DeleteFile" asp-controller="Admin" asp-route-id="@item.Requestwisefileid">
                                                    <button class="theme-btn-header px-1 "><i class="fa-solid fa-trash" style="color: #54B4D3;"></i></button>
                                                </a>
                                                @if (true)
                                                {
                                                    var str = "/UploadedFiles/" + @item.Filename;
                                                    <a href=@str target="_blank"><button class="theme-btn-header px-1 " name=""><i class="fa-solid fa-eye" style="color: #54B4D3;"></i></button></a>
                                                }
                                                <a asp-action="DownloadFile" asp-controller="Admin" asp-route-id="@item.Requestwisefileid"><button class="theme-btn-header px-1 "><i class="fa-solid fa-cloud-arrow-down" style="color: #54B4D3;"></i></button></a>
                                            </div>
                                        </div>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
