@model HalloDocWebEntity.ViewModel.AdminViewUpload
@{
    Layout = "_AdminHeader";
}
<style>
    .iti {
        width: 100%;
    }

    #phone, #phone1 {
        height: 58px;
    }
</style>
<div class="container ">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between mt-3">
                <h4 class="mt-3">Close Case</h4>
                <a class="text-start text-info text-decoration-none " asp-action="Admindashboard" asp-controller="Admin">
                    <button class="btn btn-white  text-info border-info rounded ">
                        <i class="fa-solid  fa-less-than"></i> Back
                    </button>
                </a>
            </div>
            <div class="container rounded bg-white shadow py-3 ">
                <h6 class="mb-3 text-muted">Patient Name</h6>
                <div class="d-flex justify-content-between mb-3">
                    <div class="h5 text-info">
                        @Model.patientData.Firstname @Model.patientData.Lastname
                        <span class="text-muted">(@Model.confirmationDetail.Confirmationnumber)</span>
                    </div>
                    <div class="col-sm-6 text-end pe-5">
                        <a style="text-decoration: none;color: #00bce9;">
                            <button class="btn btn-white border-info text-info">
                                <i class="pe-1 fa-regular fa-less-than backIcon"></i>
                                Create Invoice Through Quickbooks
                            </button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 h4 mb-3">
                        Document
                    </div>
                    <div class="col bg-white">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr class="">
                                    <th>Files</th>
                                    <th>Upload Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.FileList)
                                {
                                    <tr>
                                        <td>
                                            @item.Filename
                                        </td>
                                        <td>
                                            @item.Createddate
                                        </td>
                                        <td>
                                            <a asp-action="DownloadFile" asp-controller="Admin" asp-route-id="@item.Requestwisefileid"><button class="btn btn-outline-info me-2"><i class="fa-solid fa-cloud-arrow-down" style="color: #54B4D3;"></i></button></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <form method="post" id="enable" asp-action="SaveCloseCase" asp-controller="Admin" asp-route-id="@Model.confirmationDetail.Requestid">
                        <div class="row">
                            <div class="col-12 h4 mb-3">
                                Patient Information
                            </div>
                            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                                <input value="@Model.patientData.Firstname" name="first_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname" disabled>
                                <label for="exampleFormControlInput1" class="form-label ps-4">Firstname</label>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                                <input value="@Model.patientData.Lastname" name="last_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lastname" disabled>
                                <label for="exampleFormControlInput1" class="form-label ps-4">Lastname</label>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                                <input type="date" asp-format="{0:yyyy-MM-dd}" asp-for="DOB" class="form-control" disabled id="exampleFormControlInput1" placeholder="Date Of Birth">
                                <label for="exampleFormControlInput1" class="form-label ps-4">Date Of Birth</label>
                            </div>

                            <div class="col-sm-10 col-md-4 col-xl-5 col-lg-5 col-9 form-floating mb-3 text-muted">
                                <input value="@Model.patientData.Phonenumber" name="phone" id="phone" class="form-control inp2" type="tel" placeholder="Phone Number" disabled>
                            </div>
                            <div class="col-sm-2 col-md-2 col-xl-1 col-lg-1 col-1 mb-3 ">
                                <button class="border-0 bg-white">
                                    <div class="rounded p-2" style="border: solid thin #4dd2ff;">
                                        <i class="fa-solid fa-phone fa-lg rounded " style="color: #4ddfff; padding-top:20px !important;"></i>
                                    </div>
                                </button>
                            </div>
                            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                                <input value="@Model.patientData.Email" name="email" type="email" class="form-control" id="email" placeholder="Email" disabled>
                                <label for="email" class="form-label ps-4">Email</label>
                            </div>
                        </div>
                        <div class="text-end pb-3">
                            <button class="btn btn-info text-white" onclick="enbledata()" type="button">Edit</button>
                            <button class="btn btn-white text-info border-info" type="submit">Close Case</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function enbledata() {
        document.getElementById("email").disabled = false;
        document.getElementById("phone").disabled = false;
    }
    function selectAllCheckboxes() {
        var mainCheckbox = document.querySelector('#mainCheckbox');
        var checkboxes = document.querySelectorAll('.Subcheckbox');
        mainCheckbox.addEventListener('click', function () {
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = mainCheckbox.checked;
            });
        });
    }
    const input = document.querySelector("#phone");
    const input2 = document.querySelector("#phone1");
    const button = document.querySelector("#btn");
    const errorMsg = document.querySelector("#error-msg");
    const validMsg = document.querySelector("#valid-msg");
    const errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
    const iti = window.intlTelInput(input, {
        initialCountry: "us",
        utilsScript: "/intl-tel-input/js/utils.js?1706723638591"
    });
    const iti1 = window.intlTelInput(input2, {
        initialCountry: "us",
        utilsScript: "/intl-tel-input/js/utils.js?1706723638591"
    });
</script>