@model HalloDocWebEntity.ViewModel.PatientRecordModel
@{
    Layout = "_AdminHeader";
}
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/_PatientRecordTable",
            type: "GET",
            data: { id: @ViewBag.rid, pagenumber: 1 },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function () {
                alert("No Projects Found");
                $("#tableContent").html('An error has occurred');
            }
        });
    });
    function getPatientRecords(pagenumber) {

        if (pagenumber == 0) {
            pagenumber = @Model.CurrentPage;
        }

        
        $.ajax({
            url: "/Admin/_PatientRecordTable",
            type: "GET",
            data: { id: @ViewBag.rid, pagenumber: pagenumber },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function () {
                alert("No Projects Found");
                $("#tableContent").html('An error has occurred');
            }
        });
    }
</script>
<style>
    th, td, tr {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    td, th {
        padding-left: 0.5rem;
    }
    .container{
        max-width: 90rem;
    }
</style>
<div>
    <div class="row" style="--bs-gutter-x: 0rem;">
        <div class="col-12">
            <div class="container mt-5 ps-1 w-100 d-flex justify-content-between">
                <h4 class="mt-3">Patient History</h4>

                <a class="text-start text-info text-decoration-none " href="javascript:void(0);" onclick="history.go(-1);">
                    <button class="btn btn-white  text-info border-info rounded ">
                        <i class="fa-solid  fa-less-than"></i> Back
                    </button>
                </a>
            </div>
            <div class="container  rounded bg-white shadow py-3 mb-5 mt-3">
                <div id="tableContent">

                </div>
            </div>
        </div>
    </div>
</div>

<div aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">
        @if (Model.TotalPages >= 1)
        {
            <!-- Previous page -->
            <li class="page-item @(Model.PreviousPage ? " " : "disabled")">
                <a class="page-link" href="javascript:void(0)" onclick="getSMSLog(@Model.CurrentPage-1)" aria-label="Previous">
                    <span aria-hidden="true"><i class="bi bi-caret-left-fill text-info"></i> </span>
                </a>
            </li>

            <!-- Page numbers -->
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : " ")">
                    <a class="page-link" id="plink-@i" href="javascript:void(0)" onclick="getSMSLog(@i)">@i</a>
                </li>
            }

            <!-- Next page -->
            <li class="page-item @(Model.NextPage ? " " : "disabled")">
                <a class="page-link" href="javascript:void(0)" onclick="getSMSLog(@Model.CurrentPage+1)" aria-label="Next">
                    <span aria-hidden="true"> <i class="bi bi-caret-right-fill text-info"></i> </span>
                </a>
            </li>
        }
    </ul>
</div>
