@model HalloDocWebEntity.ViewModel.Profile
@{
    Layout = "_AfterLogin";
}
<script>
    document.getElementById("dashbrd").classList.add("active");
    "use strict";
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    function OpenChat(phyid,reqid, requesterType) {
        connection.start().then(function () {
            if (requesterType == "PatientGroup")
                connection.id = phyid.toString() + reqid.toString() + "Group";
            else
                connection.id = phyid.toString() + reqid.toString() + "self";
            console.log(connection.id);
        }).catch(function (err) {
            return console.error(err.toString());
        });
        $.ajax({
            url: "/Home/_ChatPanel",
            data: { 'receiver': phyid, 'requesterType': requesterType },
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#modalpopup").html(data);
            },
            error: function () {
                alert("No Projects Found");
                $("#tableContent").html('An error has occurred');
            }
        });
    }
</script>
<div id="modalpopup"></div>
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container active" id="dashboard">
        <div class="container mx-0">
            <div class="row">
                <div class="col-12">
                    <h5 class="mt-3">Medical History</h5>
                    <div class="container  rounded bg-white shadow py-3">
                        <div class="row justify-content-end text-end me-2 ">
                            <button class="theme-btn-header showOnMobile hide  mb-3" data-bs-toggle="modal" data-bs-target="#myModel">
                                <i class="fa-solid fa-plus" style="color: #54B4D3;"></i>
                            </button>
                            <button class="theme-btn-header px-1  mb-3 hideOnMobile" style="height: 40px; width : 180px; color: #54B4D3;" data-bs-toggle="modal" data-bs-target="#myModel">Create New Request</button>
                        </div>
                        <table class="table hideOnMobile ">
                            <thead class="bg-light justify-content-center ">
                                <tr>
                                    <th>
                                        Createddate
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                    <th class="text-center">Document</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Request.ToList())
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Createddate)
                                        </td>
                                        @switch (item.Status)
                                        {
                                            case 1:
                                                <td>
                                                    Unassigned
                                                </td>
                                                break;
                                            case 2:
                                                <td>
                                                    Accepted
                                                </td>
                                                break;
                                            case 5 or 4:
                                                <td>
                                                    Processing
                                                </td>
                                                break;
                                            case 3:
                                                <td>
                                                    Cancelled by Admin
                                                </td>
                                                break;
                                            case 6:
                                                <td>
                                                    Concluded
                                                </td>
                                                break;
                                            case 7:
                                                <td>
                                                    Cancelled by Patient
                                                </td>
                                                break;
                                            case 8:
                                                <td>
                                                    Closed
                                                </td>
                                                break;
                                            case 9:
                                                <td>
                                                    Unpaid
                                                </td>
                                                break;
                                        }
                                        <td class="">
                                            @if (@item.Physicianid != null)
                                            {
                                                <a class="btn btn-outline-info" onclick="OpenChat(@item.Physicianid,@item.Requestid,'Provider')"><i class="fa-solid fa-user-doctor me-1"></i>Provider</a>
                                                <a class="btn btn-outline-info" onclick="OpenChat(@item.Physicianid,@item.Requestid,'PatientGroup')"><i class="fa-solid fa-user-doctor me-1"></i>Group Chat</a>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <a asp-action="PatientViewDocument" asp-controller="Home" asp-route-id="@item.Requestid"><button class="theme-btn-header px-1 " style="height: 40px; width : 100px; color: #54B4D3;">(@ViewBag.RequestIdCounts[item.Requestid])Document</button></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="accordion showOnMobile hide" style="background-color: #54d4d3;" id="accordionExample">
                            @foreach (var item in Model.Request.ToList())
                            {
                                string id = 'a' + item.Requestid.ToString();
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="@id">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@id-A" aria-expanded="false" aria-controls="@id-A">
                                            <i class="fa-regular fa-clock me-1" style="color: #54d4d3;"></i><b>Created Date: </b> @Html.DisplayFor(modelItem => item.Createddate)
                                        </button>
                                    </h2>
                                    <div id="@id-A" class="accordion-collapse collapse" aria-labelledby="@id" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p><i class="fa-solid fa-user-doctor me-1 circlefa" style="color: #54d4d3; "></i>Provider : @id</p>
                                            <p>
                                                <i class="fa-solid fa-check circlefa me-1" style="color: #54d4d3;"></i>Current Status
                                                @switch (item.Status)
                                                {
                                                    case 1:
                                                        <span> Unassigned</span>
                                                        break;
                                                    case 2:
                                                        <span>
                                                            Accepted
                                                        </span>
                                                        break;
                                                    case 5 or 4:
                                                        <span>
                                                            Processing
                                                        </span>
                                                        break;
                                                    case 3:
                                                        <span>
                                                            Cancelled by Admin
                                                        </span>
                                                        break;
                                                    case 6:
                                                        <span>
                                                            Concluded
                                                        </span>
                                                        break;
                                                    case 7:
                                                        <span>
                                                            Cancelled by Patient
                                                        </span>
                                                        break;
                                                    case 8:
                                                        <span>
                                                            Closed
                                                        </span>
                                                        break;
                                                    case 9:
                                                        <span>
                                                            Unpaid
                                                        </span>
                                                        break;
                                                }
                                            <p class=""><a asp-action="PatientViewDocument" asp-controller="Home" asp-route-id="@item.Requestid"><button class="btn btn-white w-100" style="border-color: #54d4d3; color: #54d4d3;">(@ViewBag.RequestIdCounts[item.Requestid])Document</button></a></p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <div class="modal-title text-light" id="exampleModalLongTitle"> i want to create new request for....</div>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <form action="">
                <input type="hidden" name="" id="redirect-value" value="PatientDashboardRequestForMe">
                <div class="modal-body">
                    <div class="modal-flex text-center mt-3">
                        <div class="btn btn-info common-btn cancel-btn create-request-active" onclick="toggleButton(this,'PatientDashboardRequestForMe')">ME</div>
                        <div class="btn common-btn cancel-btn" onclick="toggleButton(this,'PatientDashboardRequestForSomeone')">SomeoneElse</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info continue-btn" onclick="redirect()">Continue</button>
                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
